<header class="container py-3">
  <h1 class="site-title m-0 fw-bold">TuSegundazo.com</h1>
</header>

<section class="hero border-top border-bottom">
  <div class="container hero-box py-3">
  </div>
</section>

<main class="container my-4">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <app-vehiculo-list></app-vehiculo-list>
    </div>
  </div>
</main>

<footer class="border-top">
  <div class="container text-center text-muted small py-3 flex-wrap">
    Contact us:
    <span class="text-reset fw-semibold">+57 3102105253</span>
    &nbsp;-&nbsp;
    <span class="text-reset">info&#64;tusegundazo.com</span>
    &nbsp;-&nbsp;
    <span class="text-reset">&#64;tusegundazo</span>
  </div>
</footer>

